// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-card{
    .photo-user{
        border-radius: 50%;
        border: 1px solid #ddd;
        object-fit: cover;
        width: 200px;
        height: 200px;
    }
}

// ポートフォリオギャラリー
.gallery-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #111;
    .box{
        position: relative;
        width: 200px;
        height: 200px;
        margin: 10px;
        overflow: hidden;
        .imgBx{
            position: absolute;
                top: 0;
                left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.8);
            &.active{
                position: fixed;
                    top: 0;
                    left: 0;
                width: 100%;
                height: 100%;
                z-index: 1000;
                overflow: scroll;
                img{
                    position: absolute;
                        top: 50px;
                        left: 50px;
                        right: 50px;
                        bottom: 50px;
                    width: calc(100% - 100px);
                    // height: calc(100% - 100px);
                    height: auto;
                }
                h2{
                    opacity: 1;
                    visibility: visible;
                    text-align: center;
                    color: $primary-color-light;
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 15px;
                }
                .content{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0%);
                    transition: .5s;
                    overflow: visible;
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            h2{
                opacity: 0;
                visibility: hidden;
            }
            .content{
                position: fixed;
                    bottom: 0px;
                    right: 50px;
                    left: 50px;
                    opacity: 0;
                    visibility: hidden;
                    background: rgba($color: #000000, $alpha: 0.8);
                    padding: 10px;
                    color: #fff;
                    transform: translateY(100%);
                    h3{
                        font-size: 24px;
                        font-weight: 600;
                    }
                    a{
                        float: right;
                        margin: 15px 0 0;
                        color: lightblue;
                    }
            }
        }
    }
}
.gallery-title{
    background-color: #111;
    color: #fff;
}
