// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color-dark:   #00796B;
$primary-color:        #009688;
$primary-color-light:  #B2DFDB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-all;
}

.user-card{
    .photo-user{
        border-radius: 50%;
        border: 1px solid #ddd;
        object-fit: cover;
        width: 200px;
        height: 200px;
    }
}
// ポートフォリオギャラリー
.gallery-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #111;
    .box{
        position: relative;
        width: 200px;
        height: 200px;
        margin: 10px;
        overflow: hidden;
        .imgBx{
            position: absolute;
                top: 0;
                left: 0;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.8);
            &.active{
                position: fixed;
                    top: 0;
                    left: 0;
                width: 100%;
                height: 100%;
                z-index: 1000;
                overflow: scroll;
                img{
                    position: absolute;
                        top: 50px;
                        left: 50px;
                        right: 50px;
                        bottom: 50px;
                    width: calc(100% - 100px);
                    // height: calc(100% - 100px);
                    height: auto;
                }
                h2{
                    opacity: 1;
                    visibility: visible;
                    text-align: center;
                    color: $primary-color-light;
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 15px;
                }
                .content{
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0%);
                    transition: .5s;
                    overflow: visible;
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            h2{
                opacity: 0;
                visibility: hidden;
            }
            .content{
                position: fixed;
                    bottom: 0px;
                    right: 50px;
                    left: 50px;
                    opacity: 0;
                    visibility: hidden;
                    background: rgba($color: #000000, $alpha: 0.8);
                    padding: 10px;
                    color: #fff;
                    transform: translateY(100%);
                    h3{
                        font-size: 24px;
                        font-weight: 600;
                    }
                    a{
                        float: right;
                        margin: 15px 0 0;
                        color: lightblue;
                    }
            }
        }
    }
}
.gallery-title{
    background-color: #111;
    color: #fff;
}


    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }

    .swiper-container {
      width: calc(100vw - 200px);
      height: 100%;
    }

    .swiper-slide {
      height: 95vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.card{
    position: relative;
    transform: perspective(-100px);
    background-color: #fff;
    width: 400px;
    height: 500px;
    margin: auto;
    border: 1px solid $secondary-text-color;
    border-radius: 15px 0 0 0;
    img{
        position: absolute;
        top: 0;
        width: 60px;
        max-height: 100px;
        object-fit: cover;
        z-index: 111111;
        border-radius: 15px 0 0 0;
    }
    .card-header{
        background: $primary-color-dark;
        height: 26px;
        border-radius: 15px 0 0 0;
        a{
            color: $primary-color-light;
            text-decoration: none;
            float: right;
            margin: 0 8px;
            line-height: 26px;
        }
    }
    .content{
        width:400px;
        padding: 8px 16px;
        box-sizing: border-box;
        .portfolio-look{
            display: inline-block;
            margin: 10px 0 0;
            padding: 10px 20px;
            text-decoration: none;
            border: 2px solid $accent-color;
            color: $secondary-text-color;
            font-weight: 600;
        }
        .content-date{
            position: absolute;
            bottom:20px;
            right: 20px;
        }
        .card-link{
            color: $secondary-text-color;
            font-weight: 600;
            display: inline-block;
            margin: 4px 0 2px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .sliderText{
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $primary-color;
        // background-position: center;
        // background-repeat: no-repeat;
        // // background-size: cover;
        // &::after{
        //     content: "";
        //     position: absolute;
        //         top: 0;
        //         left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background: rgba($color: #000000, $alpha: .3);
        // }
        h3{
            color: #FFF;
            font-size: 2em;
            font-weight: 100;
        }
    }
}
.swiper-slide{
    width: 400px;
}
.flex{
    display: flex;
    align-items: center;
    .f-btn{
        width: 100px;
        height: 36px;
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        background: $accent-color;
        border-radius: 20px;
    }
    .user-icon{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }
    button,
    input[type="submit"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        border: none;
        outline: none;
        background: transparent;
    }
    .user-text{
        text-decoration: none;
        color: $secondary-text-color;
        font-weight: 600;
    }
}
// .card-back{
//     position: absolute;
//     transform: perspective(1000px) rotateY(180deg);
//     // overflow: hidden;
//     backface-visibility: hidden;
//     width: 400px;
//     height: 500px;
//     // z-index: 1111111111;
// }